{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Aplicaciones de Internet</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1><br><br>
            <p></p>
            <p></p>
            <h2>Crear Nueva Asignatura</h2>

            <form method="post" action="{% url 'crear_asignatura' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="codigo">Código:</label>
                    <input type="text" class="form-control" id="codigo" name="codigo" required>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Crear Asignatura</button>
                <p> </p>
                <p> </p>
                <br>
            </form>

            <p> </p>

            <h2>Crear Nuevo Alumno</h2>

            <form method="post" action="{% url 'agregar_alumno' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido_paterno">Apellido Paterno:</label>
                    <input type="text" class="form-control" id="apellido_paterno" name="apellido_paterno" required>
                </div>
                <div class="form-group">
                    <label for="apellido_materno">Apellido Materno:</label>
                    <input type="text" class="form-control" id="apellido_materno" name="apellido_materno" required>
                </div>
                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
                </div>
                <div class="form-group">
                    <label for="asignatura_tomada">Asignatura Tomada:</label>
                    <input type="text" class="form-control" id="asignatura_tomada" name="asignatura_tomada" required>
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Registrar Alumno</button>
                <p> </p>
                <p> </p>
                <br>
            </form>

            <h2>Lista de Asignaturas y Cantidad de Alumnos</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Asignatura</th>
                        <th>Alumnos Inscritos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asignatura in asignaturas %}
                        <tr>
                            <td>{{ asignatura.nombre }}</td>
                            <td>
                                {% with total_alumnos=0 %}
                                    {% for alumno in alumnos %}
                                        {% for asignatura_alumno in alumno.asignaturas_tomadas.all %}
                                            {% if asignatura_alumno.nombre == asignatura.nombre %}
                                                {% with total_alumnos=total_alumnos|add:1 %}
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    {% if not total_alumnos %}
                                        {% with total_alumnos=0 %}
                                        {% endwith %}
                                    {% endif %}
                                {{ total_alumnos }}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            
            
            
            


            <h2>Lista de Alumnos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Fecha de Nacimiento</th>
            <th>Asignatura</th>
            <th>Código Asignatura</th>
        </tr>
    </thead>
    <tbody>
    {% for alumno in alumnos %}
        <tr>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.apellido_paterno }}</td>
            <td>{{ alumno.apellido_materno }}</td>
            <td>{{ alumno.fecha_nacimiento }}</td>
            {% for asignatura in alumno.asignaturas_tomadas.all %}
               <td>{{ asignatura.nombre }}</td>
               <td>{{ asignatura.codigo }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>


<h2>Eliminar Alumno</h2>

<form method="post" action="{% url 'eliminar_alumno' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="alumno_a_eliminar">Selecciona el alumno a eliminar:</label>
        <p></p>
        <p></p>
        <select class="form-control" id="alumno_a_eliminar" name="alumno_a_eliminar" required>
            {% for alumno in alumnos %}
                <option value="{{ alumno.id }}">{{ alumno.nombre }} {{ alumno.apellido_paterno }} {{ alumno.apellido_materno }}</option>
            {% endfor %}
        </select>
    </div>
    <p></p>

    <button type="submit" class="btn btn-danger">Eliminar Alumno</button>
</form>

<h2>Eliminar Asignatura</h2>
<p> </p>
<p> </p>
<form method="post" action="{% url 'eliminar_asignatura' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="asignatura_a_eliminar">Selecciona la asignatura a eliminar:</label>
        <p> </p>
        <p> </p>
        <select class="form-control" id="asignatura_a_eliminar" name="asignatura_a_eliminar" required>
            {% for asignatura in asignaturas %}
                <option value="{{ asignatura.id }}">{{ asignatura.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <p> </p>
    
    <button type="submit" class="btn btn-danger">Eliminar Asignatura</button>
</form>


        </div>
    </div>
</body>
</html>